<div class="container mt-2">
    <div class="col-12 row mb-3">
        <input type="text" [(ngModel)]="input" (input)="onInputChange($event)"
            class="form-control calculator-screen text-end" />
    </div>
    <div class="col-12 row">
        <div class="col-3 d-flex justify-content-center mb-2"
            *ngFor="let key of (isAdvancedView ? advancedKeys : basicKeys); let i = index">
            <button *ngIf="key.value !== '0'" class="btn btn-light btn-block calculator-buttons" [ngClass]="{
            'btn-secondary': key.type === 'operator' || key.type === 'function',
            'btn-primary': key.type === 'equals'
          }" (click)="append(key.value)">
                {{key.display}}
            </button>
            <button *ngIf="key.value === '0'" class="btn btn-light btn-block calculator-buttons zero-button" [ngClass]="{
            'btn-secondary': key.type === 'operator' || key.type === 'function',
            'btn-primary': key.type === 'equals'
          }" (click)="append(key.value)">
                {{key.display}}
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-info mt-3" (click)="toggleView()">
                {{ isAdvancedView ? 'Basit Hesap Makinesi' : 'Bilimsel Hesap Makinesi' }}
            </button>
        </div>
    </div>
</div>